<html>
<head>

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.3/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/380cb78f450/integration/bootstrap/3/dataTables.bootstrap.css">
<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  
<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.3/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.3/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/plug-ins/380cb78f450/integration/bootstrap/3/dataTables.bootstrap.js"></script>

</head>

<script>
$(document).ready(function(){
    $('#example').DataTable();
});
</script>
<h1>Reviews by User</h1>
User ID#: {{ user.id }} <div> User Email: {{ user.email }}
<!--<div class = '#example'>-->
<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
<thead><tr><th>Movie ID: </th><th>Movie Title:</th><th>Movie Rating:</th></thead>
<tfoot><tr><th>Movie ID: </th><th>Movie Title:</th><th>Movie Rating:</th></tfoot>
{% for rating in user.ratings %}
<tbody><tr><td>{{ rating.movie.id }}</td><td>{{ rating.movie.title}}</td><td>{{ rating.rating }}</td></tr>{% endfor %}</tbody>

</table>
</div>
</html>